# SAP Commerce Cloud - Staging
SAP_BASE_URL=https://fr-webshop-bo.staging.rubix.com
SAP_TOKEN_ENDPOINT=/fr/rest-api/v1/tokens
SAP_PRODUCTS_ENDPOINT=/rest-api/v1/products

SAP_USER_LOGIN=anonymous
SAP_PASSWORD=your_password_here
SAP_CLIENT_ID=api_rest_browser
SAP_CLIENT_SECRET=your_client_secret_here

# Server
PORT=3001

# CORS
FRONTEND_URL=http://localhost:3000
